<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
      {{ with .Site.Params.intro }}
        <header>
          <h2>{{ .header }}</h2>
          <p>{{ .paragraph | safeHTML }}</p>
        </header>
      {{ end }}
  
        <!-- Social Icons -->
    <ul class="icons">
      <li><a href="//instagram.com/mariozeats" target="_blank" title="Instagram" class="fab fa-instagram"></a></li>
      <li><a href="//youtube.com/channel/UCxBCDttUnqkbX119Py_cPsw" target="_blank" title="YouTube" class="fab fa-youtube"></a></li>
      <li><a href="//reddit.com/user/mariozeats" target="_blank" title="Reddit" class="fab fa-reddit"></a></li>
      <li><a href="//tiktok.com/@mariozeats" target="_blank" title="TikTok" class="fab fa-tiktok"></a></li>
      <li><a href="mailto:mariozeatsdessert@gmail.com" title="Email" class="fas fa-envelope"></a></li>
    </ul>
    </section>
  
    <!-- Recent Posts -->
    <section id="recent-posts">
      <ul class="posts">
        <header>
          <h3>Recent Posts</h3>
        </header>
        {{ $recent := first (.Site.Params.postAmount.sidebar | default 5) (where .Site.RegularPages "Type" "post") }}
        {{ range $recent }}
        <li>
          <article>
            <header>
              <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
              <time class="published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            </header>
          </article>
        </li>
        {{ end }}
      </ul>
    </section>
  
    <!-- About -->
    {{ with .Site.Params.intro.about }}
    <section class="blurb">
      <h2>About</h2>
      <p>{{ . }}</p>
      <ul class="actions">
        <li><a href="/about/" class="button">Learn More</a></li>
      </ul>
    </section>
    {{ end }}
  
    <!-- Social Icons Bottom -->
    <section id="footer">
      <ul class="icons">
        {{ if .Site.Params.socialAppearAtBottom }}
          {{ partial "social.html" . }}
        {{ end }}
      </ul>
    </section>
  
  </section>
  